:host ::ng-deep {
    .p-inputtext {
        border-radius: 9999px !important;
        padding-left: 2.5rem !important;
    }

    .p-password {
        width: 100%;
        
        input {
            width: 100%;
            border-radius: 9999px !important;
            padding-left: 2.5rem !important;
        }
    }

    .p-button {
        border-radius: 9999px !important;
    }
}

.login-container {
    background-color: #f9fafb;
}

input:focus, .p-inputtext:focus {
    box-shadow: 0 0 0 2px rgba(255, 237, 0, 0.2) !important;
}
