:host ::ng-deep {
    .p-button {
        border-radius: 9999px !important;
    }
}

.animate-fadein {
    animation: fadein 0.4s ease-out;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
